@media screen and (max-width: 600px) {
    #nav-mobile i.material-icons {
        display: none;
    }
    
    nav .nav-wrapper i {
      height: 64px;
      line-height: 64px;
    }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding: 3em 0;
}

a {
  cursor: pointer;
}

[data-loged="true"] {
  display: none;
}



[data-require-autoplay][data-no-autoplay],
[data-require-no-autoplay]:not([data-no-autoplay]) {
  display: none;
}

[data-templates] {
  display: none;
}

i.material-icons {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes spin-btn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning-btn i {
  -webkit-animation: spin-btn 2s ease-in-out infinite;
}

main#disconnected {
  cursor: pointer;
}

main#disconnected i {
  font-size: 30vmin;
}
main#disconnected p {
  font-size: 5vmin;
}